/* App.css */
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@500;700&family=Source+Code+Pro:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html {
  overflow: scroll;
}

body {
  overflow: hidden;
  background-color: rgb(7, 7, 48);
  color: white;

}

.Navbar {
  background-color: rgb(15, 39, 87);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
  margin: 1rem;
  background-color: rgb(15, 39, 87);

}

.Navbar ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 1.3rem;
}

.Navbar ul li a:hover {
  background-color: white;
  color: black;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
}

.Navbar ul li a.active {
  background-color: white;
  color: black;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
}

.ham {
  display: none;
}

.nav-right {
  margin-right: 2rem;
}

.nav-right h2 {
  color: white;
  margin-bottom: 2.5rem;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  width: max-content;
  width: 30%;
  height: 30rem;
  border-radius: 1rem;
  border: 2px solid cyan;
}

.signup-container input {
  border-radius: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  width: 80%;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 80%;
}

.signup-container button {
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  outline: none;
  border: 1px solid gray;
  border-radius: 2rem;
  box-shadow: 2px 2px 0 2px black;
  font-size: 1rem;
  width: 8rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.signup-container button:hover {
  cursor: pointer;
  background-color: cyan;
  color: rgb(0, 0, 0);

}

.signup-container a{
  color: white;
}

.signup-container button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  width: 95vw;
  flex-wrap: wrap;
  padding: 1rem;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  box-shadow: 0 0 10px 1px rgb(166, 162, 162);
  height: auto;
}

.items:hover {
  cursor: pointer;
  transform: translate(-5px, -5px);
}

.img-container {
  width: 25%;
  height: 100%;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
}

.items img {
  width: 100%;
  height: 100%;
}

.item-details span {
  background-color: rgb(243, 17, 17);
  color: white;
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem;
}

.item-details a,
.item-details button {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 0 2px black;
  transition: all 0.2s;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(222, 219, 219);
  width: 8rem;
  padding: 0.2rem;
  transition: all 0.4s;
}

.item-details a:hover,
.item-details button:hover {
  cursor: pointer;
  background-color: cyan;
}

.item-details button:active,
.item-details a:active {
  box-shadow: none;
  transform: translate(1px, 2px);
}

.update-delete {
  display: flex;
  gap: 1rem;
}

.addProductLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addProductLink a {
  font-size: 1.2rem;
}

.filter-container {
  margin: 0.5rem;
}

.filters {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
}

.filter-container h2{
  font-weight: bolder;
text-align: center;
}

.filters button {
  padding: 0.2rem 1rem;
  outline: none;
  border: none;
  background-color: rgb(16, 54, 120);
  border-radius: 1rem;
  margin: 0.2rem;
  color: white;
  font-weight: 900;
  height: 70%;
  transition: all 0.4s;
}

.filters button:focus{
  background-color: rgb(7, 85, 255);
}

.filters button:hover {
  cursor: pointer;
}

.filters input {
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 20rem;
  font-size: 1.1rem;
  max-width: 300px;
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    overflow: hidden;
    overflow-y: scroll;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .ham {
    display: block;
  }

  .Navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .Navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    list-style-type: none;
    margin: 1rem;
    flex-direction: row;
    position: absolute;
    flex-direction: column;
    top: 2rem;
    left: -30rem;
    width: 100%;
    height: 28rem;
    z-index: 2;
    padding: 1rem;
  }

  .hamburger-icon{
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
  }

  .Navbar h2 {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .Navbar ul li{
    width: 100%;
text-align: center;

  }

  .Navbar ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.4s;
    font-size: 1rem;
  }

  .Navbar ul li a:hover {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
  }

  .Navbar ul li a.active {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    width: 100%;
  }

  .nav-right {
    margin-right: 2rem;
  }

  .nav-right h2 {
    color: white;
    margin-bottom: 1.2rem;
  }

  .signup-container {
    width: 95%;
    height: 25rem;
    border-radius: 1rem;
  }

  .signup-container input {
    width: 90%;
  }

  .items {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .items:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
  }

  .img-container {
    width: 80%;
    height: 100%;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.1rem;
    height: 100%;
    width: 100%;
  }

  .items img {
    width: 100%;
    height: 100%;
  }

  .item-details span {
    color: white;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
  }

  .item-details a,
  .item-details button {
    font-size: 0.8rem;
    width: 7rem;
    padding: 0.2rem;
  }

  .update-delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .addProductLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .addProductLink a {
    font-size: 1.2rem;
  }

  .filter-container {
    margin: 0.5rem;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

  }

  .filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto; /* Let the height adjust based on content */
  }

  .filters button {
    padding: 0.2rem 0.5rem;
    outline: none;
    border: none;
    background-color: rgb(16, 54, 120);
    border-radius: 1rem;
    margin: 0.2rem;
    color: white;
    font-weight: bold;
    /* Height is determined by content, not a fixed percentage */
  }

  .filters input {
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 100%; /* Adjust the width to fill the container */
    font-size: 1.1rem;
  }
  

}




@media (min-width: 481px) and (max-width: 768px) {
 

  html {
    overflow: hidden;
    overflow-y: scroll;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .ham {
    display: block;
  }

  .Navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .Navbar ul {
    margin: 1rem;
    flex-direction: row;
    position: absolute;
    flex-direction: column;
    top: 2rem;
    left: -30rem;
    width: 60%;
    height: 28rem;
    z-index: 2;
    padding: 1rem;
    align-items: center;
  }

  .hamburger-icon{
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
  }

  .Navbar h2 {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .Navbar ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.4s;
    font-size: 1rem;
  }

  .Navbar ul li a:hover {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
  }

  .Navbar ul li a.active {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
  }

  .nav-right {
    margin-right: 2rem;
  }

  .nav-right h2 {
    color: white;
    margin-bottom: 1.2rem;
  }

  .signup-container {
    width: 60%;
    height: 25rem;
    border-radius: 1rem;
  }

  .signup-container input {
    width: 90%;
  }

  .items {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .items:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
  }

  .img-container {
    width: 80%;
    height: 100%;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.1rem;
    height: 100%;
    width: 100%;
  }

  .items img {
    width: 100%;
    height: 100%;
  }

  .item-details span {
    color: white;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
  }

  .item-details a,
  .item-details button {
    font-size: 0.8rem;
    width: 7rem;
    padding: 0.2rem;
  }

  .update-delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .addProductLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .addProductLink a {
    font-size: 1.2rem;
  }

  .filter-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto; /* Let the height adjust based on content */
  }

  .filters button {
    padding: 0.2rem 0.5rem;
    outline: none;
    border: none;
    background-color: rgb(16, 54, 120);
    border-radius: 1rem;
    margin: 0.2rem;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    /* Height is determined by content, not a fixed percentage */
  }

  .filters input {
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 100%; /* Adjust the width to fill the container */
    font-size: 1.1rem;
  }
  

}


/* Add your other styles above this */
.payment-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.payment-button:hover {
  background-color: #45a049;
}
/* Add your other styles below this */


@media (769px <= width <=1200px){
 

  html {
    overflow: hidden;
    overflow-y: scroll;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .ham {
    display: block;
  }

  .Navbar {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .Navbar ul {
    margin: 1rem;
    flex-direction: row;
    position: absolute;
    flex-direction: column;
    top: 2rem;
    left: -30rem;
    width: 40%;
    height: 28rem;
    z-index: 2;
    padding: 1rem;
    align-items: center;
  }

  .hamburger-icon{
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
  }

  .Navbar h2 {
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .Navbar ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.4s;
    font-size: 1rem;
  }

  .Navbar ul li a:hover {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
  }

  .Navbar ul li a.active {
    background-color: white;
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
  }

  .nav-right {
    margin-right: 2rem;
  }

  .nav-right h2 {
    color: white;
    margin-bottom: 1.2rem;
  }

  .signup-container {
    width: 60%;
    height: 25rem;
    border-radius: 1rem;
  }

  .signup-container input {
    width: 90%;
  }

  .items {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .items:hover {
    cursor: pointer;
    transform: translate(-5px, -5px);
  }

  .img-container {
    width: 80%;
    height: 100%;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.1rem;
    height: 100%;
    width: 100%;
  }

  .items img {
    width: 100%;
    height: 100%;
  }

  .item-details span {
    color: white;
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
  }

  .item-details a,
  .item-details button {
    font-size: 0.8rem;
    width: 7rem;
    padding: 0.2rem;
  }

  .update-delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .addProductLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .addProductLink a {
    font-size: 1.2rem;
  }

  .filter-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .filters {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto; /* Let the height adjust based on content */
  }

  .filters button {
    padding: 0.2rem 0.5rem;
    outline: none;
    border: none;
    background-color: rgb(16, 54, 120);
    border-radius: 1rem;
    margin: 0.2rem;
    color: white;
    font-weight: bold;
    /* Height is determined by content, not a fixed percentage */
  }

  .filters input {
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 100%; /* Adjust the width to fill the container */
    font-size: 1.1rem;
  }
  

}

.success-message {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 20px; /* Padding around the message */
  text-align: center; /* Center align the text */
  font-size: 24px; /* Font size of the text */
  border-radius: 5px; /* Optional: Rounded corners for the message */
  max-width: 20rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
}

.success-message a{
  color: white;
}
